* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1700px;
}

.table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.element {
  width: 6vw;
  height: 6vw;
  padding: 2px;
  border: 1px solid #333333;
  border-collapse: collapse;
  overflow: hidden; 
}

.element-2 {
  grid-column-start: -2;
}

.element-5,
.element-13 {
  grid-column-start: 13;
}

.element-58,
.element-90 {
  grid-column-start: 3;
}

.element-119 {
  grid-column-start: -2;
}

.element-57 {
  margin: 0;
}

.number {
  float: left;
  font-size: 0.5vw;
  position: absolute;
}

.symbol {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5vw;
  font-size: 2.5vw;
}

.element-name {
  text-align: center;
  font-size: 0.8vw;
}

/* Types */
.noble {
  background: #58B6D3;
}

.alkali {
  background: #E1B272;
}

.alkaline {
  background: #EBCE4E;
}

.transition {
  background: #DB6DC2;  
}

.lanthanide {
  background: #EA711E;
}

.post-transition {
  background: #06F0C0;
}

.actinide {
  background: #F0069B;
}

.unknown {
  background: #C4BBC1;
}

.diatomic {
  background: #FF8399;
}

.metalloid {
  background: #3F9A83;
}

.polyatomic {
  background: #4B42F4;
}