:root {
  --josefin: "Josefin Sans", sans-serif;
  --border-color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: var(--josefin);
}

.container {
  /* width: 90%; */
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.element {
  width: 5.25vw;
  height: 5.25vw;
  padding: 2px auto;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  overflow: hidden;
  font-family: var(--josefin);
}

/* Move specific elements to structure periodic table */

.element-2 {
  grid-column-start: -2;
}

.element-5,
.element-13 {
  grid-column-start: 13;
}

.element-58,
.element-90 {
  grid-column-start: 3;
}

.element-119 {
  grid-column-start: -2;
}

.element-57 {
  margin: 0;
}

/* Element properties */

.number {
  float: left;
  font-size: 0.5vw;
  position: absolute;
}

.symbol {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5vw;
  font-size: 2.5vw;
}

.element-name {
  text-align: center;
  font-size: 0.8vw;
}

/* Types */
.noble {
  background: #58B6D3;
}

.alkali {
  background: #E1B272;
}

.alkaline {
  background: #EBCE4E;
}

.transition {
  background: #DB6DC2;  
}

.lanthanide {
  background: #EA711E;
  /* */
  /* margin-top: 2.5vw; */
}

.post-transition {
  background: #06F0C0;
}

.actinide {
  background: #F0069B;
}

.unknown {
  background: #C4BBC1;
}

.diatomic {
  background: #FF8399;
}

.metalloid {
  background: #3F9A83;
}

.polyatomic {
  background: #4B42F4;
}