:root {
  --josefin: "Josefin Sans", sans-serif;
  --border-color: #333333;
  --noble: #58B6D3;
  --alkali: #E1B272;
  --alkaline: #EBCE4E;
  --lanthanide: #EA711E;
  --actinide: #F0069B;
  --unknown: #C4BBC1;
  --diatomic: #FF8399;
  --metalloid: #3F9A83;
  --polyatomic: #4B42F4;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: var(--josefin);
}

.container {
  /* width: 90%; */
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  gap: .2ch;
}

.element {
  width: 5vw;
  height: 5vw;
  padding: 2px auto;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  overflow: hidden;
  font-family: var(--josefin);
}

/* Move specific elements to structure periodic table */

.element-2 {
  grid-column-start: -2;
}

.element-5,
.element-13 {
  grid-column-start: 13;
}

.element-58 { grid-area: 9 / 4 / 9 / 4; }
.element-59 { grid-area: 9 / 5 / 9 / 5; }
.element-60 { grid-area: 9 / 6 / 9 / 6; }
.element-61 { grid-area: 9 / 7 / 9 / 7; }
.element-62 { grid-area: 9 / 8 / 9 / 8; }
.element-63 { grid-area: 9 / 9 / 9 / 9; }
.element-64 { grid-area: 9 / 10 / 9 / 10; }
.element-65 { grid-area: 9 / 11 / 9 / 11; }
.element-66 { grid-area: 9 / 12 / 9 / 12; }
.element-67 { grid-area: 9 / 13 / 9 / 13; }
.element-68 { grid-area: 9 / 14 / 9 / 14; }
.element-69 { grid-area: 9 / 15 / 9 / 15; }
.element-70 { grid-area: 9 / 16 / 9 / 16;}
.element-71 { grid-area: 9 / 17 / 9 / 17; }


.element-90 { grid-area: 10 / 4 / 10 / 4; }
.element-91 { grid-area: 10 / 5 / 10 / 5; }
.element-92 { grid-area: 10 / 6 / 10 / 6; }
.element-93 { grid-area: 10 / 7 / 10 / 7; }
.element-94 { grid-area: 10 / 8 / 10 / 8; }
.element-95 { grid-area: 10 / 9 / 10 / 9; }
.element-96 { grid-area: 10 / 10 / 10 / 10; }
.element-97 { grid-area: 10 / 11 / 10 / 11; }
.element-98 { grid-area: 10 / 12 / 10 / 12; }
.element-99 { grid-area: 10 / 13 / 10 / 13; }
.element-100 { grid-area: 10 / 14 / 10 / 14; }
.element-101 { grid-area: 10 / 15 / 10 / 15; }
.element-102 { grid-area: 10 / 16 / 10 / 16; }
.element-103 { grid-area: 10 / 17 / 10 / 17; }

/* Element properties */

.number {
  float: left;
  font-size: 0.5vw;
  position: absolute;
}

.symbol {
  text-align: center;
  font-weight: bold;
  margin-top: 0.8vw;
  font-size: 2.5vw;
}

.element-name {
  text-align: center;
  font-size: 0.75vw;
}

/* Types */

.noble {
  background: var(--noble);
}

.alkali {
  background: var(--alkali);
}

.alkaline {
  background: var(--alkaline);
}

.transition {
  background: #DB6DC2;  
}

.lanthanide {
  background: var(--lanthanide);
}

.post-transition {
  background: #06F0C0;
}

.actinide {
  background: var(--actinide);
}

.unknown {
  background: var(--unknown);
}

.diatomic {
  background: var(--diatomic);
}

.metalloid {
  background: var(--metalloid);
}

.polyatomic {
  background: var(--polyatomic);
}